    * {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: normal;
        color: rgb(204, 205, 205);
    }

    body {
        margin: 0;
    }

    #addFriendPopup {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: 20% auto;
        width: 500px;
        height: 250px;
        border-radius: 2.5%;
        border: 2px solid black;
        background-color: rgb(31, 31, 31);
        text-align: center;
    }

    #addFriendPopup img {
        position: absolute;
        margin: 7px;
        width: 30px;
        height: 30px;
        right: 0;
        filter: invert(80%);
    }

    #addFriendPopup h2 {
        margin: 10px auto;
        width: 80%;
    }

    #addFriendPopup form {
        height: 50px;
        margin: auto 0;
    }

    #addFriendPopup [type='email'] {
        border-radius: 20px;
        background-color: rgb(59, 59, 59);
    }

    #addFriendPopup [type='submit'] {
        border-radius: 20px;
        background-color: rgb(59, 59, 59);
    }

    #container {
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }

    #header {
        display: flex;
        justify-content: space-between;
        grid-row: 1;
        grid-column: span 12;
        gap: 5px;
        padding: 5px 17px;
        align-items: center;
        background-color: black;
        border: 2px solid black;
    }

    #header>h2 {
        margin: 0 auto;
        font-weight: bolder;
        font-style: italic;
        font-size: 30pt;
    }

    #header>button {
        height: 40px;
        width: 80px;
        font-size: large;
    }

    #logoutButton {
        background-color: rgb(59, 59, 59);
        border: 0px;
        border-radius: 15px;
    }

    #sideBar {
        grid-column: span 3;
        grid-row: span 12;
        border-top: 2px solid rgb(74, 74, 74);
        padding: 0px 15px;
        overflow-y: auto;
        background-color: rgb(31, 31, 31);
    }

    #sideBarContent {
        color: rgb(204, 205, 205);
        height: 98%;
        padding: 5px;
        border-radius: 5px;
    }

    .clickableProfile {
        display: flex;
        flex-grow: 1;
        gap: 5px;
    }

    #addUser {
        display: block;
        margin-left: auto;
        height: 30px;
        width: 30px;
        filter: invert(80%);
    }

    #sideBarContent>div {
        display: flex;
        margin: 10px 0;
        border-radius: 15px;
        padding: 0px 5px;
    }

    #sideBarContent>div:hover {
        background-color: rgb(65, 65, 65);
    }

    .friendName {
        margin: auto;
        flex-grow: 1;
        text-overflow: clip;
    }

    .unfriendButton {
        margin: auto 0 !important;
        filter: invert(80%);
    }

    .profilePicture {
        margin: 7.5px 0;
        border-radius: 50%;
        height: 4.5vw;
        width: 4.5vw;
        overflow: hidden;
    }

    .profilePicture img {
        height: 4.5vw;
        width: 4.5vw;
    }

    #chatroom {
        display: grid;
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
        grid-row: span 11;
        grid-column: span 9;
        border: 2px solid rgb(74, 74, 74);
        background-color: rgb(31, 31, 31);
    }

    #messages {
        grid-column: span 12;
        grid-row: span 10;
        display: flex;
        gap: 5px;
        flex-direction: column-reverse;
        padding: 10px 30px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .userMessage, .friendMessage {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        text-align: right;
    }

    .name {
        font-weight: 1000;
    }

    .friendMessage {
        justify-content: flex-start;
        text-align: left;
    }

    .messageDate {
        position: relative;
        color: gray;
        font-weight: normal;
        font-size: 10pt;
    }

    .messageOptions {
        width: 50px;
        height: 20px;
        position: absolute;
        display: flex;
        transform: translate(0px, -50px);
        visibility: hidden;
    }

    .messageOptions>div {
        height: 20px;
        background-color: rgb(0, 0, 0);
        border-radius: 20px;
        padding: 5px;
        font-weight: bold;
    }

    .userMessage>.profilePicture>img {
        margin: auto;
    }

    .userMessageText, .friendMessageText {
        flex-grow: 1;
        width: 2%;
        word-wrap: break-word;
        border-radius: 20px;
    }

    .userMessageText .text, .friendMessageText .text  {
        text-wrap: pretty;
    }

    .editBox {
        display: none;
    }

    .editBox [type='text'] {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 20px;
        background-color:  rgb(41, 41, 41);
    }

    .userMessageText:hover, .friendMessageText:hover {
        background-color: rgb(65, 65, 65);
    }

    .userMessageText:hover  .messageOptions {
        visibility: visible;
    }

    .userMessage>div *, .friendMessage>div * {
        margin: 0;
    }

    #messageInput {
        grid-column: span 12;
        grid-row: span 2;
        padding: 20px;
    }

    #messageInput form {
        display: flex;
        height: 100%;
    }

    #messageInput [type="text"] {
        font-size: 25pt;
        width: 90%;
        height: 95%;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        border: 0px;
        background-color: rgb(59, 59, 59);
    }

    #messageInput [type="submit"] {
        width: 8%;
        height: 98%;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border: 0px;
        border-left: 2px solid rgb(31, 31, 31);
        /* background-color: white; */
        background-color: rgb(59, 59, 59);
        background-image: url("/images/enterIcon.png");
        background-size: 75px;
        background-repeat: no-repeat;
        background-position: center;
        background-clip: border-box;
    }